@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
   @font-face {
      font-family: 'almaraiLight200';
      src: url('../assets/fonts/Almarai-Light200.ttf') format('truetype');
   }

   @font-face {
      font-family: 'almaraiRegular400';
      src: url('../assets/fonts/Almarai-Regular400.ttf') format('truetype');
   }

   @font-face {
      font-family: 'almaraiBold700';
      src: url('../assets/fonts/Almarai-Bold700.ttf') format('truetype');
   }

   @font-face {
      font-family: 'almaraiExtraBold800';
      src: url('../assets/fonts/Almarai-ExtraBold800.ttf') format('truetype');
   }

   html {
      scroll-behavior: smooth;
   }

   @media only screen and (max-width: 900px) {
      * {
         cursor: default !important;
      }
   }

   @media only screen and (min-width: 900px) {
      ::-webkit-scrollbar {
         width: 8px;
         height: 8px;
      }

      ::-webkit-scrollbar-track {
         background: #ffffff;
      }

      ::-webkit-scrollbar-thumb {
         background: #0b1c3f8a;
         border-radius: 3px;
      }

      ::-webkit-scrollbar-thumb:hover {
         background: #0b1c3fc5;
      }
   }
}
